@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gold: #d7aa64;
  --color-green: #006944;
  --color-gray: #888;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-halvar);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}